@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/User/**/*';
@source '../../../../resources/views/filament/user/**/*';


/* 
.fi-body {
    @apply bg-platinum;
    width: 100%;
    height: 100%;
}

/* Agregar estilos para el contenedor principal */
/* .fi-main {
    @apply max-w-[100rem] px-4 md:px-6 lg:px-8 xl:px-10 mx-auto w-full;
}

.fi-topbar>nav,
.fi-sidebar-header {
    @apply bg-transparent ring-0 shadow-none;
    transition: background-color 0.3s, top 0.3s;
}

.fi-topbar>nav {
    @apply relative flex justify-center;

    >ul {
        @apply absolute -translate-x-2/4 gap-x-0 left-2/4;
    }

    >div {
        @apply static;
    }
}

.fi-topbar>nav.topbar-hovered,
.fi-sidebar-header.topbar-hovered {
    @apply bg-translucent dark:bg-translucent-dark;
}

.fi-dropdown.fi-topbar-dropdown .fi-dropdown-panel {
    @apply absolute -translate-x-1/2 left-1/2;
}

.fi-icon-btn.bg-gray-100.\!rounded-full.dark\:bg-custom-500\/20 {
    @apply bg-translucent;
}

*/
*/