.fi-theme-switcher-btn {
    @apply rounded-xl;
}

.fi-theme-switcher-btn.fi-active {
    @apply bg-primary-100/70 dark:bg-gray-800/30;
}

.fi-theme-switcher-btn.fi-active .fi-icon {
    @apply text-primary-600 dark:text-white;
}